footer
  .container.text-center
    p.float-left © 2021 Phan Thanh Huy
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://gitlab.com/phanthanhhuy1996') Gitlab
      li.list-inline-item
        a(href='https://github.com/thala321') Github
