extends layout

block content
  h1 Techbase Interview
  p.lead A Node.js web application
  hr
  .row
    .col-md-6
      h2 Link
      a(href="https://gitlab.com/phanthanhhuy1996/techbase") Source code: 
    .col-md-6
      h2 API
      a(href="/api/employee") API 1: Get all employee 